* {
    box-sizing: border-box;
}
.search-item {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.container {
    text-align: center;
}

div.search-item:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

form {
    position: relative;
}

input[type='submit'],
input[id='stats'],
input[id='update-btn']  {
    color: black !important;
    font-size: 1.2rem !important;
    width: 200px;
    display: block !important;
}

#stats {
    position: absolute;
    float: right;
    right: 0px;
    top: 210px;
}

#table-header {
    display: inline-block;
    text-align: center;
}
